:root {
    --primary: #6750A4;
    --bgPrimary: #FFFFFF;
    --primaryContainer: #EADDFF;
    --onPrimaryContainer: #4F378B;
}

.dark-mode {
    --primary: #322F35;
    --bgPrimary: #322F35;
    --primaryContainer: #ECE6F0;
    --onPrimaryContainer: #1D1B20;
}

* {
    transition: background-color 0.3s ease;
}

.text-profile {
    display: flex;
    flex-direction: column;
    color: var(--onPrimaryContainer);
    justify-content: center;
}

.text-profile h1 {
    text-align: center;
}

.text-profile span {
    background-color: var(--primaryContainer);
    border-radius: 1rem;
    padding: .2rem;
}

.text-profile h3 {
    text-align: right;
    text-decoration: underline;
    text-decoration-thickness: .15rem;
    text-decoration-color: var(--bgPrimary);
}

.body {
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem;
    border-radius: 1.6rem;
    box-shadow: 0 4px 30px var(--primaryContainer);
    border: 1px solid var(--onPrimaryContainer);
    padding: 1rem 0 1rem 0;
}

.togle {
    margin-left: 89%;
    background-color: var(--onPrimaryContainer);
    width: 4rem;
    height: 2rem;
    padding: 0;
    border-radius: 1rem;
}

.togle-button {
    background-color: var(--primaryContainer);
    background-image: url("resources/moon.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, background-image 0.2s ease;
}

.togle-button-isActive {
    transform: translateX(2rem) rotate(360deg);
    background-image: url("resources/sun.png");
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-item {
    display: inherit;
}

.list-item p {
    margin-left: 1rem;
}

.img-profile {
    width: 40%;
    max-height: 25rem;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    margin-top: 1rem;
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
}

.header div {
    margin: 1rem;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main aside {
    background-color: var(--primary);
    color: var(--primaryContainer);
    padding: 1rem;
    width: 40%;
}

.main section {
    background-color: var(--onPrimaryContainer);
    color: var(--primaryContainer);
    padding: 1rem;
    width: 60%;
}

.line {
    background-color: var(--onPrimaryContainer);
    height: .1rem;
    margin: 2rem 0.5rem 2rem 0.5rem;
}

.prog-bar {
    padding: .1rem;
    width: 10rem;
    height: .5rem;
    background-color: var(--primaryContainer);
    border-radius: 1rem;
    overflow: hidden;
}

.prog {
    background-color: var(--onPrimaryContainer);
    width: 0%;
    height: 100%;
    border-radius: 1rem;
    transition: width 0.5s ease-in-out;
}

table {
    width: 100%;
    margin: 1rem;
}

th,
td {
    text-align: left;
    margin: 0;
    padding: 0;
}


.webLink {
    color: var(--primaryContainer);
}

.webLink:hover {
    animation: 6s ease-in 0s infinite borderAnimation;
}

@keyframes borderAnimation {

    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }

    30%,
    80% {
        transform: scale(0.7, 0.7);
    }
}

/* Contacto.css */

.contacto h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    height: 2rem;
    width: 10rem;
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: .2rem .2rem .1rem var(--primary);
    margin-top: .5rem;
    transition: background-color 0.3s ease-out;
}

.button:hover {
    background-color: var(--bgShadow);
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    table {
        width: 100%;
    }

    th,
    td {
        display: block;
        text-align: left;
    }

    .img-profile {
        width: 100%;
    }

    .main {
        flex-direction: column;
    }

    .main aside {
        width: 100%;
    }

    .header {
        flex-direction: column-reverse;
    }

    .main section {
        width: 100%;
    }

    footer p {
        font-size: .7rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 1.6rem;
    }

    table {
        width: 100%;
    }

    th,
    td {
        display: block;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
}

footer {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--primaryContainer);
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

p {
    margin-left: 1.5rem;
    text-align: justify;
    line-height: 1.2rem
}

ul {
    list-style-type: none;
    font-size: 1rem;
}

/* ... your existing styles ... */

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.form input,
.form textarea {
    width: 100%;
    padding-left: .5rem;
    border: .1rem solid var(--primary);
    border-radius: .5rem;
}
.error-message {
    display: none;
    color: var(--primaryContainer);
    font-size: .7rem;
    margin-left: .2rem;
    
  }
  
  .form input:invalid + .error-message {
    display: inline;
  }
  
  .form input:valid + .error-message,
  .form textarea:valid + .error-message {
    display: none;
  }
  