---
import Layout from "../../layouts/Layout.astro";
import Table from "../../components/Table.astro";
import Navbar from "../../components/Navbar.astro";

const postData = {
  rows: [
    {
      N: "1",
      Title:
        "La capacidad de la inteligencia artificial para comprender el significado de las palabras",
      Content:
        "Analizar la viabilidad de una IA capaz de comprender el significado psicológico de las palabras expresadas por un usuario",
      Link: {
        href: "./investigacionIA",
      },
    },
    {
      N: "2",
      Title: "Aplicación de K-means en el análisis automático de datos",
      Content:
        "Exploración del algoritmo K-means para clasificar y agrupar datos automáticamente mediante técnicas de aprendizaje no supervisado",
      Link: {
        href: "./kmeans",
      },
    },
    {
      N: "3",
      Title: "Clasificación con regresión logística",
      Content:
        "Análisis de cómo la regresión logística puede utilizarse para clasificar datos en categorías mediante aprendizaje supervisado",
      Link: {
        href: "./regresionLogistica",
      },
    },
    {
      N: "4",
      Title: "Análisis de crimen en Jalisco",
      Content:
        "Análisis de más de 267,000 registros de crímenes en Jalisco entre 2017 y 2025 en municipios como Guadalajara, Zapopan y Tlaquepaque. Visualización y modelado predictivo incluidos.",
      Link: {
        href: "./Criminalidad-Jalisco",
      },
    },
  ],
};
---

<Layout title="Posts" background="bg-gray-200">
  <Navbar />
  <main class="flex flex-col pt-18 mx-2 space-y-2 justify-center items-center">
    <header class="container">
      <h1 class="font-Special text-2xl md:text-4xl text-center">Posts</h1>
      <p
        class="indent-7 md:indent-10 text-justify font-Content text-sm md:text-xl"
      >
        Here you will find my topics of <b
          >interest, fun, important, or creative things that come to my mind
          🤔✨.</b
        > From <b
          >dreams and ideas 🌙💡 to thoughts and semi-formal research 📚🧠</b
        >, everything that comes up in my <b>day-to-day life &#127909;.</b>
      </p>
    </header>
    <section class="container">
      <Table rows={postData.rows} />
    </section>
  </main>
</Layout>
