---
import Layout from "../../layouts/Layout.astro";
import Table from "../../components/Table.astro";
import Navbar from "../../components/Navbar.astro";

const postData = {
  rows: [
    {
      N: "1",
      Title:
        "La capacidad de la inteligencia artificial para comprender el significado de las palabras",
      Content:
        "Analizar la viabilidad de una IA capaz de comprender el significado psicológico de las palabras expresadas por un usuario",
      Link: {
        href: "./InvestigacionIA",
      },
    },
  ],
};
---

<Layout title="Posts" background="bg-gray-200">
  <Navbar />
  <main class="flex flex-col pt-18 mx-2 space-y-2 justify-center items-center">
    <header class="container">
      <h1 class="font-Special text-2xl md:text-4xl text-center">Posts</h1>
      <p
        class="indent-7 md:indent-10 text-justify font-Content text-sm md:text-xl"
      >
        Here you will find my topics of <b
          >interest, fun, important, or creative things that come to my mind
          🤔✨.</b
        > From <b
          >dreams and ideas 🌙💡 to thoughts and semi-formal research 📚🧠</b
        >, everything that comes up in my <b>day-to-day life &#127909;.</b>
      </p>
    </header>
    <section class="container">
      <Table rows={postData.rows} />
    </section>
  </main>
</Layout>
