@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
    --color-primary-50: #f4f7f7;
    --color-primary-100: #e3e8ea;
    --color-primary-200: #cad4d7;
    --color-primary-300: #a5b5bb;
    --color-primary-400: #798f97;
    --color-primary-500: #5e747c;
    --color-primary-600: #50626a;
    --color-primary-700: #455159;
    --color-primary-800: #3e474c;
    --color-primary-900: #30363a;
    --color-primary-950: #22272a;

    --color-secondary-50: #f6f5f5;
    --color-secondary-100: #e8e5e5;
    --color-secondary-200: #d3cece;
    --color-secondary-300: #b4aeac;
    --color-secondary-400: #8e8582;
    --color-secondary-500: #736a67;
    --color-secondary-600: #625b58;
    --color-secondary-700: #534e4b;
    --color-secondary-800: #4d4947;
    --color-secondary-900: #3f3b3a;
    --color-secondary-950: #282524;

    --color-tertiary-50: #f5f8f7;
    --color-tertiary-100: #dfe8e7;
    --color-tertiary-200: #bed1ce;
    --color-tertiary-300: #96b2b0;
    --color-tertiary-400: #6f928f;
    --color-tertiary-500: #557775;
    --color-tertiary-600: #435e5e;
    --color-tertiary-700: #384d4c;
    --color-tertiary-800: #304040;
    --color-tertiary-900: #2a3737;
    --color-tertiary-950: #151d1e;

    --color-accent-50: #f7f6f5;
    --color-accent-100: #ecebe8;
    --color-accent-200: #cfccc5;
    --color-accent-300: #bfbbb2;
    --color-accent-400: #a59e92;
    --color-accent-500: #92897d;
    --color-accent-600: #867c70;
    --color-accent-700: #70665e;
    --color-accent-800: #5d554f;
    --color-accent-900: #4c4642;
    --color-accent-950: #282422;



    --font-Title: "Dosis", "Helvetica Neue";
    --font-Content: "Oxygen", "Helvetica Neue";
    --font-Special: "Sniglet", system-ui;
    --font-specialVariant: "Chewy", system-ui;
}