---
import Layout from "../../layouts/Layout.astro";
const desc =
  "I am a software developer with over 8 years of experience in web and mobile development, with an academic background in Artificial Intelligence. I have used several programming languages, with my favorites being C#, Java, and C++, although my preference is C#. I am passionate about game development, as my goal is to convey my emotions through my creations. I have worked with tools such as React, MAUI, Spring, and Android Studio, and I am motivated to continue learning. Although I lack professional experience in development teams, I enjoy working in a collaborative environment.";
---

<Layout title="Curriculum">
  <header>
    <section>
      <h1>Efrain Garcia</h1>
      <h2>Software Developer</h2>
      <address>
        <ul>
          <li>Address: Zapopan, Jalisco.</li>
          <li>
            Phone: <a href="tel:+523313669421">3316369421</a>
          </li>
          <li>
            E-Mail: <a href="mailto:yefrasoft@hotmail.com"
              >yefrasoft@hotmail.com</a
            >
          </li>
        </ul>
      </address>
      <nav>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/yefra"
              target="_blank"
              rel="noopener noreferrer">LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/yeff"
              target="_blank"
              rel="noopener noreferrer">Instagram</a
            >
          </li>
          <li>
            <a
              href="https://github.com/yeff"
              target="_blank"
              rel="noopener noreferrer">GitHub</a
            >
          </li>
        </ul>
      </nav>
    </section>
  </header>

  <main>
    <section>
      <section>
        <article>
          <h3>About Me</h3>
          <p>{desc}</p>
        </article>
        <article>
          <h3>Hobbies</h3>
          <ul>
            <li>Photography</li>
            <li>Cooking</li>
            <li>Driving</li>
          </ul>
        </article>
        <article>
          <h3>Courses</h3>
          <ul>
            <li>Udemy 1</li>
            <li>Udemy 2</li>
            <li>Udemy 3</li>
          </ul>
        </article>
      </section>

      <aside>
        <article>
          <h3>Work Experience</h3>
          <div>
            <h4>Position</h4>
            <time>2000 - 2015</time>
            <strong>CompanyName</strong><br />
            <p></p>
          </div>
        </article>

        <article>
          <h3>Academic Formation</h3>
          <div>
            <h5>Grade</h5>
            <time>2000 - 2003</time>
            <strong>School</strong>
          </div>
        </article>
      </aside>
    </section>
  </main>
  <footer>
    <section>
        <h3>Skills</h3>
        <div>
            <strong>hard Skills</strong>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            <strong>transeferuble Skills</strong>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Software</h3>
    </section>
  </footer>
</Layout>
