<article id="about"
  class="max-w-3xl mx-auto p-6 text-accent-400 rounded-lg shadow-lg text-justify animate-fade-up font-Content"
>
  <h2 class="text-3xl font-bold mb-4 flex gap-2 font-Title">About Me</h2>
  <p class="text-lg leading-relaxed animate-fade-up delay-200">
    I am a developer specializing in
    <strong class="text-tertiary-400">Artificial Intelligence</strong> with a deep
    passion for <strong class="text-tertiary-400">game development</strong>. My goal is
    to create experiences that not only entertain but also convey emotions and leave a
    lasting impact on those who play them.
  </p>

  <p class="text-lg leading-relaxed mt-4 animate-fade-up delay-300">
    I love
    <i class="fas fa-flask text-tertiary-400"></i>
    <strong>experimenting, trying out new ideas</strong>, and adding a unique touch to
    every project. I don't follow traditional paths; I prefer to find my own way of
    doing things, always with
    <i class="fas fa-check-circle text-tertiary-400"></i>
    <strong>responsibility</strong>.
  </p>

  <p class="text-lg leading-relaxed mt-4 animate-fade-up delay-500">
    I enjoy working in a team
    <i class="fas fa-users text-tertiary-400"></i>, collaborating and sharing ideas,
    while always staying true to my essence and creative vision
    <i class="fas fa-lightbulb text-tertiary-400"></i>.
  </p>
</article>

