<article id="expeirnce"
  class="max-w-3xl mx-auto p-6 text-accent-400 text-justify animate-fade-up font-Content space-y-2 overflow-hidden leading-relaxed"
>
  <h2 class="text-3xl font-bold mb-4 flex gap-2 font-Title">EXPERIENCE</h2>
  <p class="text-lg leading-relaxed animate-fade-up delay-200">Nothing for now</p>
</article>
