<header class="flex flex-col pt-5 2xl:pt-0 bg-secondary-950 2xl:flex-row w-full h-dvh relative overflow-hidden">
  <img
    class="2xl:absolute mx-5 md:mx-42 xl:mx-80 2xl:mx-0 2xl:w-1/3 2xl:top-1/2 2xl:right-1/2 transform 2xl:-translate-y-1/2 shadow-2xl pl-1 rounded-full hover:scale-105 transition-transform duration-300 z-20 animate-fade-up"
    src="./aboutMeImg.jpg"
    alt="HeroImage"
  />
  <div class="hidden 2xl:block 2xl:basis-1/3 bg-gradient-to-r from-primary-950 to-primary-900 animate-fade-left"></div>
  <div class="flex flex-col 2xl:basis-2/3 bg-secondary-950 items-center justify-center animate-fade-right">
    <div class="p-12 2xl:p-0 text-center z-30 2xl:ml-auto 2xl:mr-14 text-accent-600">
      <h2 class="text-xl md:text-2xl lg:text-3xl font-specialVariant -rotate-12 -translate-x-36 2xl:-translate-x-46 mb-2 animate-wiggle animate-infinite">
        ¡Hi, I'm <strong>Efrain</strong>! &#128075;
      </h2>
      <h4 class="text-center text-3xl md:text-4xl lg:text-5xl font-Special animate-fade-up delay-200">
        I like creating <span class="font-specialVariant font-bold ">unique </span><span class="text-xl md:text-2xl lg:text-3xl">&#129504;</span>
        <br /> and <span class="font-specialVariant font-bold">emotional experiences </span
        ><span class="text-xl md:text-2xl lg:text-3xl">&#129402;</span>
        <br />through
        <span class="font-specialVariant font-bold">game development</span>. <span class="text-3xl lg:text-4xl">&#127918;</span> <br />I
        also <span class="font-specialVariant font-bold">experiment</span> </span><span class="text-xl md:text-2xl lg:text-3xl">&#10024;</span> with new ideas<br />
        and <span class="font-specialVariant font-bold">explore creative ways </span
        ><span class="text-xl md:text-2xl lg:text-3xl">&#127912;</span><br />
        to bring them to life.
      </h4>
    </div>
  </div>
<header/>


