---
interface Props{
  text: string
  value:string
}
const { searchTerm = "", selectValues: selectValue[]}: Props = Astro.props;
---

<form class="mb-4 flex space-x-4">
  <label for="searchInput" class="sr-only">Buscar por nombre</label>

  <input
    id="searchInput"
    type="text"
    placeholder="Buscar por nombre"
    class="px-4 py-2 border rounded-md shadow-sm w-1/3"
    oninput="filtrarTabla()"
  />
  <select
    id="ciudadFiltro"
    class="px-4 py-2 border rounded-md shadow-sm w-1/3"
    onchange="filtrarTabla()"
  >
    <option value="">Seleccionar ciudad</option>
    <option value="Madrid">Madrid</option>
    <option value="Barcelona">Barcelona</option>
    <option value="Valencia">Valencia</option>
    <option value="Sevilla">Sevilla</option>
  </select>
</form>